.editions {
	background-image: url('../images/dist/edition_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;

	&__descr {
		font-weight: bold;
		line-height: $lineheight;
		color: $whitecolor;
	}

	&__filter {
		min-width: 450px;
	}

	&__list {
		grid-template-rows: repeat(1, 1fr);
	}

	&__slider {
		margin-top: 30px;
	}

	&__checkbox-list {
		margin-bottom: 30px;
	}

	&__label {
		display: inline-flex;
		align-items: center;
		line-height: $lineheight;
		color: $whitecolor;
		cursor: pointer;
		transition: color .2s ease-in-out;

		&::before {
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			flex-shrink: 0;
			flex-grow: 0;
			border: 1px solid #adb5bd;
			margin-right: 0.5em;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 4px 4px;
		}

		&:hover {
			color: #e2bcff;
		}
	}

	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__checkbox:checked+label {
		color: $hovercolor;
	}

	&__checkbox:checked+label::before {
		border-color: $hovercolor;
		background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
	}
}