.btn {
	padding: 22px 35px;
	border-radius: 180px;
	border: 2px solid transparent;
	font-size: $textsize;
	line-height: 25px;
	font-weight: bold;
	color: $whitecolor;
	background-color: $hovercolor;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, border;

	&:hover {
		border: 2px solid #D1A9F0;
	}

	&:active {
		background-color: $activecolor;
		border: 2px solid #D1A9F0;
	}

	&:focus {
		outline: 2px solid $hovercolor;
		outline-offset: 4px;
	}

	&_events {
		display: block;
		padding: 18px 35px;
		margin: 0 auto;
		border: 2px solid $hovercolor;
		color: $hovercolor;
		background-color: transparent;
	}

	&_editions-card {
		padding: 8px 14px;
		border: 2px solid $activecolor;
		font-size: $descrsize;
		line-height: 22px;
		color: $whitecolor;
		background-color: transparent;
	}
}