$whitecolor: #fff;
$textcolor: #333;
$hovercolor: #C283F3;
$activecolor: #7943A4;
$descrsize: 16px;
$textsize: 18px;
$fontsize-h2: 48px;
$lineheight: 32px;
$fontfamily: OpenSans, sans-serif;

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
	
}
	

@include font('OpenSans', normal, 700, '../fonts/OpenSans-Bold.woff2');
@include font('OpenSans', normal, 600, '../fonts/OpenSans-SemiBold.woff2');
@include font('OpenSans', normal, 400, '../fonts/OpenSans-Regular.woff2');

