.container {
	max-width: 1600px;
	margin: 0 auto;
	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&_about-us {
		padding: 80px 0 70px;
	}

	&_gallery {
		padding: 80px 0 70px;
		display: flex;
		height: 845px;
	}
}