.container {
	max-width: 1600px;
	margin: 0 auto;
	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_hero {
		position: absolute;
		z-index: 1;
		top: 240px;
		left: 160px;
		max-width: 31%;
	}
}