.form {
	position: relative;
	flex: 0 0 14%;
	&__input {
		margin-left: 5px;
		width: 100%;
		padding: 6px 10px 3px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	}
	&__input::placeholder {
		font-size: 18px;
		line-height: 25px;
		color: rgba(255, 255, 255, 0.85);
	}
	&__label {
		position: absolute;
		top: 2px;
		left: -28px;
		width: 22px;
		height: 22px;
		background-image: url('../images/dist/search.svg');
		background-repeat: no-repeat;
	}
}