.header {
	&__up {
		padding: 28px 0;
		background-color: #000;
	}
	&__login {
		padding-left: 20px;
		font-size: 18px;
		line-height: 25px;
		color: $whitecolor;
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: left center;
		transition-timing-function: ease-in-out;
		transition-duration: .2s;
		transition-property: color, background-image;
		&:hover {
			color: $hovercolor;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.62056 9.09278L6.63889 10.1111L10.25 6.5L6.63889 2.88889L5.62056 3.90722L7.48389 5.77778H0.5V7.22222H7.48389L5.62056 9.09278ZM12.0556 0H1.94444C1.14278 0 0.5 0.65 0.5 1.44444V4.33333H1.94444V1.44444H12.0556V11.5556H1.94444V8.66667H0.5V11.5556C0.5 12.35 1.14278 13 1.94444 13H12.0556C12.85 13 13.5 12.35 13.5 11.5556V1.44444C13.5 0.65 12.85 0 12.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E ");
		}
		&:active {
			color: $activecolor;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.62056 9.09278L6.63889 10.1111L10.25 6.5L6.63889 2.88889L5.62056 3.90722L7.48389 5.77778H0.5V7.22222H7.48389L5.62056 9.09278ZM12.0556 0H1.94444C1.14278 0 0.5 0.65 0.5 1.44444V4.33333H1.94444V1.44444H12.0556V11.5556H1.94444V8.66667H0.5V11.5556C0.5 12.35 1.14278 13 1.94444 13H12.0556C12.85 13 13.5 12.35 13.5 11.5556V1.44444C13.5 0.65 12.85 0 12.0556 0Z' fill='%237943A4'/%3E%3C/svg%3E ");
		}
		&:focus {
			outline: 2px solid $activecolor;
		}
	}
	&__down {
		padding: 23px 0 21px;
		background: rgba(0, 0, 0, 0.4);
	}
	&__styles {
		display: flex;
		align-items: center;
	}
	&__style:not(:last-child)	{
		margin-right: 112px;
	}
	&__dropdown-btn {
		position: relative;
		font-family: $fontfamily;
		font-size: 18px;
		line-height: 25px;
		color: $whitecolor;
		&:hover {
			color: $hovercolor;
		}
		&:hover::after {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6.00001L0.999997 1' stroke='%23C283F3'/%3E%3C/svg%3E ");
		}
		&:active {
			color: $activecolor;
		}
		&:active::after {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6.00001L0.999997 1' stroke='%237943A4'/%3E%3C/svg%3E ");
		}
		&:focus {
			outline: 2px solid $activecolor;
		}
	}
	&__dropdown-btn::after {
		position: absolute;
		content: '';
		top: 11px;
		right: -16px;
		width: 12px;
		height: 7px;
		background-image: url('../images/dist/arrow.svg');
	}
}