.hero {
	position: relative;
	z-index: 0;
	height: 630px;
	&__heading {
		margin-bottom: 19px;
		font-size: 72px;
		line-height: 84px;
		font-weight: bold;
		color: $whitecolor;
	}
	&__descr {
		margin-bottom: 91px;
		font-size: $textsize;
		line-height: 30px;
		font-weight: bold;
		color: $whitecolor;
	}
	&__content {
		position: absolute;
		top: 68px;
		left: 160px;
		z-index: 1;
		max-width: 31%;
	}
}