.picture-card {
	opacity: 0;
	display: none;
	flex: 0 0 46%;
	transition: opacity .2s ease-in-out;

	&__image {
		margin-bottom: 20px;
		width: 750px;
	}

	&__header {
		margin-bottom: 10px;
		font-size: 24px;
		line-height: $lineheight;
		font-weight: 600;
	}

	&__years-of-birth {
		margin-bottom: 10px;
		font-size: 12px;
		color: #999;
	}

	&__text {
		line-height: $lineheight;
	}

	&_active {
		display: block;
		opacity: 1;
	}
}