::placeholder {
	color: #666;
}

* {
	padding: 0;
	border: 0;
	margin: 0;
}


body {
	position: relative;
	z-index: -1;
	box-sizing: border-box;
	font-size: $descrsize;
	overflow-x: hidden;
	font-family: $fontfamily;
	color: $textcolor;
	scroll-behavior: smooth;
}


li {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

button {
	background-color: transparent;
	cursor: pointer;
}

input {
	background-color: transparent;
}